@use "../abstracts";

.s11-loader-container {

	@include abstracts.flex-align-center;
	color: abstracts.$color__text;
	font-size: abstracts.$font__size-table;

	svg.components-spinner {
		margin: 0;
		margin-right: 10px;
	}
}
