/dist
/build
/node_modules
/vendor
.editorconfig
.eslintignore
.eslintrc
.gitattributes
.gitignore
.prettierignore
.prettierrc.js
.stylelintignore
.stylelintrc.json
composer.json
composer.lock
LICENSE
package.json
package-lock.json
phpcs.xml.dist
SECURITY.md
*.php
